.ant-select-selector {
    width: 100%;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}