  /* thai */
  @font-face {
      font-family: 'Sarabun';
      font-style: italic;
      font-weight: 400;
      src: url("Sarabun-Italic.ttf") format('truetype');
  }

  /* thai */
  @font-face {
      font-family: 'Sarabun';
      font-style: italic;
      font-weight: 500;
      src: url("Sarabun-MediumItalic.ttf") format('truetype');
  }

  /* thai */
  @font-face {
      font-family: 'Sarabun';
      font-style: italic;
      font-weight: 600;
      src: url("Sarabun-SemiBoldItalic.ttf") format('truetype');
  }

  /* thai */
  @font-face {
      font-family: 'Sarabun';
      font-style: italic;
      font-weight: 700;
      src: url("Sarabun-BoldItalic.ttf") format('truetype');
  }

  /* thai */
  @font-face {
      font-family: 'Sarabun';
      font-style: normal;
      font-weight: 400;
      src: url("Sarabun-Regular.ttf") format('truetype');
  }

  /* thai */
  @font-face {
      font-family: 'Sarabun';
      font-style: normal;
      font-weight: 500;
      src: url("Sarabun-Medium.ttf") format('truetype');
  }

  /* thai */
  @font-face {
      font-family: 'Sarabun';
      font-style: normal;
      font-weight: 600;
      src: url("Sarabun-SemiBold.ttf") format('truetype');
  }

  /* thai */
  @font-face {
      font-family: 'Sarabun';
      font-style: normal;
      font-weight: 700;
      src: url("Sarabun-Bold.ttf") format('truetype');
  }